body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace; 
  background: black;
  background: 
linear-gradient(
  45deg, #ccfffc, #ffcccf
);
 
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}

.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
}
.Dictionary form input {
  border-radius: 5px;
  width: 90%;
  margin: 20px;
  padding: 5px 8px;
  color: rgb(0, 0, 0, 0.7);
}

.Dictionary section {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 80%;
  margin: 15px auto;
  padding: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);  
}

.Results h2 {
 font-size: 30px;
 font-weight: bold;
 line-height: 1.5;
}

.Phonetic {
  margin: 15px 0;
}
.Phonetic a {
  border: 1px solid #ffcccf;
  background-color: #ffcccf;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  margin-right: 8px;
  color: #000;
}
.Phonetic a:hover {
  background-color: transparent;
}
.Phonetic .text {
  font-weight: bold;
  color: rgb(0, 0, 0, 0.6);
}


.Meaning h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.Meaning .definition {
  font-size: 18px;
}
.Meaning .example {
  font-style: italic;
  font-size: 16px;
  color: darkmagenta;
  margin-top: 10px;
}

.Synonyms {
  margin: 15px 0;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  padding: 15px;
  font-size: 13px;
  color: #545454;
}

.Photos img {
  border-radius: 5px;
  margin-bottom: 15px;
}

footer {
  bottom: 0px;
  text-align: center;
  font-size: 11px;
}


